<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{PAGE::TITLE}}}</title>
    {{{SLOT::STYLELINK}}}
</head>
<body>
    <div class="sheriff-shell">
        <header class="sheriff-header">
          <div class="sheriff-header-top">
            <div class="sheriff-header-left">
              <a href="/" class="sheriff-logo-link">
                {{{SLOT::LOGO}}}
                <div class="sheriff-logo-text-wrap">
                  {{{SLOT::BRANDNAME}}}
                  {{{SLOT::VERSION}}}
                </div>
              </a>
            </div>
            <div class="sheriff-header-right">
              {{{SLOT::THEMESWITCHER}}}
              {{{SLOT::VERSIONSWITCHER}}}
              {{{SLOT::SEARCH}}}
              {{{SLOT::REPO}}}
            </div>
          </div>
          <div class="sheriff-header-bottom">
            {{{SLOT::HEADER_NAV}}}
          </div>
        </header>
        <div class="sheriff-main-layout-two">
            <article class="sheriff-article">
                {{{PAGE::CONTENT}}}
            </article>
            <aside class="sheriff-sidebar">
                {{{SLOT::SIDEBAR_TOP}}}
                {{{SLOT::SIDEBAR_MAIN}}}
            </aside>
        </div>
        <footer class="sheriff-footer">
            {{{SLOT::FOOTER}}}
        </footer>
    </div>
</body>
</html>