<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{{PAGE::TITLE}}}</title>

    {{{BRINDLE::BASELINE}}}
    {{{BRINDLE::THEME_LINK}}}
</head>
<body class="layout-blog">
    <header class="site-header">
        {{{BRINDLE::SWITCHER}}}
        {{{SLOT::HEADER}}}
    </header>

    <main class="site-main">
        <div class="site-shell">
            <article class="site-content">
                {{{PAGE::CONTENT}}}
            </article>

            <aside class="site-sidebar">
                {{{SLOT::SIDEBAR_MAIN}}}
            </aside>
        </div>
    </main>

    <footer class="site-footer">
        {{{SLOT::FOOTER}}}
    </footer>
</body>
</html>
