<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{{PAGE::TITLE}}}</title>

    {{{BRINDLE::BASELINE}}}
    {{{BRINDLE::THEME_LINK}}}
</head>
<body class="layout-home">
    <header class="site-header">
        {{{BRINDLE::SWITCHER}}}
        {{{SLOT::HEADER}}}
    </header>

    <main class="site-main">
        <section class="home-main">
            {{{PAGE::CONTENT}}}
        </section>
    </main>

    <footer class="site-footer">
        {{{SLOT::FOOTER}}}
    </footer>
</body>
</html>
